# App
NODE_ENV=development
PORT=4000
JWT_SECRET=super_secret_cambia_esto
JWT_EXPIRES=7d


# DB
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pms?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pms