## Opción A: Supabase (recomendado si lo vas a desplegar en AWS)
## Nota: usa el host correcto "...supabase.co" y agrega "?sslmode=require"
DATABASE_URL="postgresql://postgres:TU_PASSWORD@db.TU_PROYECTO.supabase.co:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:TU_PASSWORD@db.TU_PROYECTO.supabase.co:5432/postgres?sslmode=require"

## Opción B: Postgres local (docker-compose.yml)
# DATABASE_URL="postgresql://pms:pms@localhost:5432/pms"
# DIRECT_URL="postgresql://pms:pms@localhost:5432/pms"

## Alternativa (sin poner el password en DATABASE_URL): variables separadas para Supabase
# SUPABASE_DB_HOST="db.TU_PROYECTO.supabase.co"
# SUPABASE_DB_PORT="5432"
# SUPABASE_DB_NAME="postgres"
# SUPABASE_DB_USER="postgres"
# SUPABASE_DB_PASSWORD="TU_PASSWORD"

JWT_SECRET="change-me-por-algo-largo"
JWT_EXPIRES="7d"
PORT=4000
FRONTEND_URL="http://localhost:3000"
